h3{
  color: white;
  margin-top: 30px;
  font-size: 35px;
}


input {
  margin: 3%;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: solid white 1px;
  background-color: transparent;
}


@media screen and (max-width:700px){
  input{
    margin-top: -10%;
    width: 40%;
  }

  h3{
    font-size: 30px;
    margin: 30px;
  }
}