h2{
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  color: white;
  font-size: 30px;
}

.imagem-inicial {
  background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)50%), url('https://wallpaperaccess.com/full/1851786.jpg');
  height:700px;
  margin-top: -90px;
  background-size:cover;
  display: flex;
}

@media screen and (max-width:700px){
.imagem-inicial{
  background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)10%), url('https://thumbs.gfycat.com/AbsoluteQueasyBalloonfish-size_restricted.gif');
  height:350px;  
  margin-top: -20%;
  background-size:cover;
  display: flex;
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
}