h2{
  padding-top: 30px;
  color: white;
  font-size: 30px;
}

p{
  color: white;
  padding-top: 20px;
  line-height: 1.5;
  margin: 70px;
}

.imagem-inicial {
  background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)50%), url('https://images3.alphacoders.com/852/852089.png');
  height:700px;
  margin-top: -90px;
  background-size:cover;
  display: flex;
}

@media screen and (max-width:700px){
.imagem-inicial{
  background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)50%), url('https://thumbs.gfycat.com/AbsoluteQueasyBalloonfish-size_restricted.gif');
  height:350px;  
  margin-top: -20%;
  background-size:cover;
  display: flex;
}

h2{
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
}