@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

section {
  margin-top: 30px;
  padding: 20px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.tilt {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: tilting 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

section span {
  transition: font-weight 0.4s ease-in;
  animation: floating-secondary 2.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

section span:nth-child(1) {
  animation-delay: 1s;
}
section span:nth-child(2) {
  animation-delay: 2s;
}
section span:nth-child(3) {
  animation-delay: 3s;
}
section span:nth-child(4) {
  animation-delay: 4s;
}
section span:nth-child(5) {
  animation-delay: 5s;
}
section span:nth-child(6) {
  animation-delay: 6s;
}
section span:nth-child(7) {
  animation-delay: 7s;
}
section span:nth-child(8) {
  animation-delay: 8s;
}
section span:nth-child(9) {
  animation-delay: 9s;
}
section span:nth-child(10) {
  animation-delay: 10s;
}
section span:nth-child(11) {
  animation-delay: 11s;
}
section span:nth-child(12) {
  animation-delay: 12s;
}
section span:nth-child(13) {
  animation-delay: 13s;
}
section span:nth-child(14) {
  animation-delay: 14s;
}
section span:nth-child(15) {
  animation-delay: 15s;
}
section span:nth-child(16) {
  animation-delay: 16s;
}

section span:hover {
  font-weight: 100;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 5vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floating-secondary {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 1vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes tilting {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

@media screen and (max-width:700px){
  section{
    font-size: 20px;
  }
}